.btn {
    position: relative;
    bottom: 0;
    max-width: 250px;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 15px 10px;
}

.btn:hover {
    filter:saturate(200%);
}